/* :root {
} */
/* Спрятанные заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #212121;
  background: #ffffff;
}

.second-topic {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.link {
  text-decoration: none;
}

/* Header */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* .header-nav */
.link-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-front {
  color: #2196f3;
}
.logo-end {
  color: #000000;
}

.nav-list {
}
.nav-item-link {
}

/* 
nav-item

nav-contact
nav-contact-link

/* main */
/* .hero
.hero-idea
.hero-btn */

/* Преимущества*/
/* .excellence
.excellence-list
.excellence-item
.excellence-point
.excellence-txt; */

/* Примеры */
/* .exx .exx-list .exx-item; */

/* Наша команда */
/* .team .team-list .team-item;
.team-name;
.team-posicion; */

/* footer */
/* .footer;
.address;
.address-list .address-item;
.address-link; */
