/* :root {
} */
/* Спрятанные заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.second-topic


/* header */

/* header */

/* header */

/* header */

/* header */

/* header */

/* header */

/* header */

header
header-nav
link-logo
logo-front
logo-end
nav-list
nav-item
nav-item-link
nav-contact
nav-contact-link

/* main */
.hero
.hero-idea
.hero-btn

/* Преимущества*/
.excellence
.excellence-list
.excellence-item
.excellence-point
.excellence-txt;

/* Примеры */
.exx .exx-list .exx-item;

/* Наша команда */
.team .team-list .team-item;
.team-name;
.team-posicion;

/* footer */
.footer;
.address;
.address-list .address-item;
.address-link;
